@CHARSET "ISO-8859-1";


.sty
{
	 font-color:text-light;
	 background-color:#00004d;
	 font-family:serif;
	padding:60px 30px 50px 30px;
	height:400px;
	
}
.wrap
{
	float:right;
}
h1,p
{
	font-color:#ffffff; 
}
.ha
{
	background-color:#00b3b3;
	 color:#ffffff;  
	font-family:serif;
	 padding:20px 50px 56px 30px;
	height:400px;
}
.imge
{
background-image:url("img/bg1.jpg");
background-repeat:no-repeat;
background-position:top right;	
}